body{
    background-image:url(https://c.wallhere.com/photos/22/ff/rio_riodejaneiro_cube_livrariadatravessa-880926.jpg!d); ;
}



#main-container{

	margin: 50px auto;
	width: 1150px;
}

table{
	background-color: white;
	text-align: left;
	margin-left: -250px;
	border-collapse: collapse;
	width: 100%;
	margin-left: 0px;
	
}

th, td{
	padding: 20px;
}

thead{
	background-color: #246355;
	border-bottom: solid 5px #0F362D;
	color: white;
}

tr:nth-child(even){
	background-color: #ddd;
}

tr:hover td{
	background-color: #369681;
	color: white;
}

/* .main-container{
	overflow:scroll;
	height:500px;
	width:900px;	
}

table{
	width:500px;
    background-color:lightgray;
}
 */



.no{
    color:rgb(18, 204, 18);
}
.si{
    color:rgb(226, 23, 23);
}
