@import url('https://fonts.googleapis.com/css?family=Poppins:400,500,600,700&display=swap');


body{
      background-image:url(https://c.wallhere.com/photos/22/ff/rio_riodejaneiro_cube_livrariadatravessa-880926.jpg!d); ;
}



#login-box {
      border: 1px;
      width: 30%;
      text-align: center;
      margin: 0 auto;
      margin-top: 12%;
      background: #00000080;
      padding: 30px 50px;
  }


  #login-box h1 {
      color: white;
  }

  #login-box .form .item input {
      width: 200px; 
      border: 0; 
      border-bottom: 5px solid white; 
      font-size: 18px; 
      background: #ffffff00; 
      color: white; 
      padding: 5px 10px; 
  }



  #login-box .form .item i {
      color: white;
      font-size: 18px;
  }


  #login-box button {
      border: 0; 
      width: 150px; 
      height: 30px;
      margin-top: 18px; 
      font-size: 18px; 
      color: white; 
      border-radius: 25px; 
background-color: rgba(253, 197, 133, 0.86);
  }


  button{
      text-decoration: none;
      
  }