



body{
    background-image:url(https://c.wallhere.com/photos/22/ff/rio_riodejaneiro_cube_livrariadatravessa-880926.jpg!d); ;
}





/*Estilos Generales*/
.Agregar-libro {
	background:rgba(253, 197, 133, 0.86);
	color:#fff;
	display:inline-block;
	font-size:1.25em;
	margin:10px;
	padding:30px 0;
	text-align:center;
	width:200px;
	text-decoration:none;
	box-shadow:0px 3px 0px #373c3c;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}


.Eliminar-libro {
	background:rgba(182, 130, 71, 0.86);
	color:#fff;
	display:inline-block;
	font-size:1.25em;
	margin:10px;
	padding:30px 0;
	text-align:center;
	width:200px;
	text-decoration:none;
	box-shadow:0px 3px 0px #373c3c;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}



.Actualizar-libro {
	background:rgba(88, 70, 48, 0.86);
	color:#fff;
	display:inline-block;
	font-size:1.25em;
	margin:10px;
	padding:30px 0;
	text-align:center;
	width:200px;
	text-decoration:none;
	box-shadow:0px 3px 0px #373c3c;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}




.Prestamo-libro {
	background:rgba(74, 65, 55, 0.757);
	color:#fff;
	display:inline-block;
	font-size:1.25em;
	margin:10px;
	padding:30px 0;
	text-align:center;
	width:220px;
	text-decoration:none;
	box-shadow:0px 3px 0px #373c3c;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}




.Devolucion-libro {
	background:#235e63;
	color:#fff;
	display:inline-block;
	font-size:1.25em;
	margin:10px;
	padding:30px 0;
	text-align:center;
	width:320px;
	text-decoration:none;
	box-shadow:0px 3px 0px #373c3c;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}



.Control-prestamo {
	background:#c780e4;
	color:#fff;
	display:inline-block;
	font-size:1.25em;
	margin:10px;
	padding:30px 0;
	text-align:center;
	width:350px;
	text-decoration:none;
	box-shadow:0px 3px 0px #373c3c;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}




.Inventario-libro {
	background:#17c9ab;
	color:#fff;
	display:inline-block;
	font-size:1.25em;
	margin:10px;
	padding:30px 0;
	text-align:center;
	width:200px;
	text-decoration:none;
	box-shadow:0px 3px 0px #373c3c;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}








/*Efectos, Hover*/
.Agregar-libro:hover {
	box-shadow:0px 0px 0px;
	padding-top:-7px;
}

.Eliminar-libro:hover {
	box-shadow:0px 0px 0px;
	padding-top:-7px;
}

.Actualizar-libro:hover {
	box-shadow:0px 0px 0px;
	padding-top:-7px;
}

.Prestamo-libro:hover {
	box-shadow:0px 0px 0px;
	padding-top:-7px;
}

.Devolucion-libro:hover {
	box-shadow:0px 0px 0px;
	padding-top:-7px;
}

.Control-prestamo:hover {
	box-shadow:0px 0px 0px;
	padding-top:-7px;
}

.Inventario-libro:hover {
	box-shadow:0px 0px 0px;
	padding-top:-7px;
}

